.tablesorter-header-inner
{
	position:relative;	
}
.sort_arrow
{
	position: relative;
	font-size:9px;
	left: 6px;
	top: -7px;	
}
.sort_arrow i
{
	color:#17C4BB;
}
.sort_arrow .asc i
{
	position:relative;
	top:3px;
}
.sort_arrow a.active, .sort_arrow a.active i
{
	color:#72AFD2;
	background:none;
}
.sort_arrow .desc i
{
	position:relative;
	top:11px;
	left:-12px;
}


.active
{
	/*background-color:#1896D5;*/
	color:#F8B938 !important;
}

th {
    text-transform: uppercase;
}	
.tree li .branch
{
	width:180px;	
}
.tree li ul li .branch
{
	width:180px;	
}
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none;
	width: 230px !important;
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#b8c7ce;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#222D32;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
	cursor:pointer;
}
.tree li a {
    text-decoration: none;
    color:#f2f2f2;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

.tree li{
display: block;
    word-wrap: normal;
    white-space: normal;
    word-break: normal;
    width: 100%;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/

.content_scroll textarea{
	min-height: 80px;
	width: 70%;
}

.content_scroll .half img{
	max-width: 48%;
	margin: 0 0 2% 2%;
}

.content_scroll .half img:nth-child(odd){ margin: 0 2% 2% 0; }

#demo.showcase{ min-width: 740px; }

.showcase .content_scroll{
	float: left;
	width: 340px;
	height: 300px;
}

.showcase .horizontal-images.content_scroll{
	height: 140px;
	width: 700px;
	max-width: 97%;
	padding: 5px 5px 0 5px;
}

.showcase .horizontal-images.content_scroll h2, .showcase .horizontal-images.content_scroll li img{ height: 119px; }

.showcase .horizontal-images.content_scroll h2{
	color: #fff;
	background-color: #eb3755;
	padding: 10px 20px;
	margin: 0;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	font-size: 165%;
}

.horizontal-images.content_scroll ul, .vertical-images.content_scroll ul{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.horizontal-images.content_scroll li{
	margin: 0 3px;
	float: left;
}

.vertical-images.content_scroll li{ margin: 3px 0; }

.horizontal-images.content_scroll li:first-child{ margin-left: 0; }

.vertical-images.content_scroll li:first-child{
	margin-bottom: 3px;
	margin-top: 0;
}

.horizontal-images.content_scroll li:last-child{ margin-right: 0; }

.vertical-images.content_scroll li:last-child{ margin-bottom: 0; }

.horizontal-images.content_scroll li img{
	width: auto;
	padding: 0;
}


.showcase #content-8.content_scroll{
	width: 230px;
	height: 580px;
	padding: 0;
}

.showcase #content-8.content_scroll h2{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.showcase #content-8.content_scroll p{
	width: 710px;
	float: left;
	margin: 15px 20px;
}

.showcase #content-8.content_scroll hr + p{ margin-top: 30px; }

.showcase #content-8.content_scroll p:nth-child(3n+1){
	width: 1460px;
	clear: both;
}


#iframe-container{
	width: 90%;
	max-width: 1110px;
	background: #000;
	overflow: hidden;
}

#iframe-container iframe{ vertical-align: bottom; }

#infinite-scroll .offset{
	display: block;
	width: 100%;
	height: auto;
	color: #ffed0d;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

#infinite-scroll .offset p{
	margin-bottom: 60px;
}

#infinite-scroll .offset .indicator{
	display: block;
	width: 100%;
	height: 100px;
	background: #ffed0d;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

#examples.resizable{ 
	background:#444; 
	padding-bottom: 30px; 
}

#resizable.content_scroll{
	overflow: hidden;
	width: 640px;
	max-width: 80%;
	-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; /* jquery ui resizable bug: http://bugs.jqueryui.com/ticket/8932 */
}

#resizable.content_scroll h2{ color: #444; }

#resizable.content_scroll p{ width: 1000px }

.content_scroll.fluid{
	width: 90%;
	max-width: 1680px;
}

.content_scroll.fluid h2{
	color: #eb3755;
	font-family: "Lobster Two", "Georgia", serif;
	font-weight: 700;
	font-style: italic;
}

.content_scroll.nested{ height: 600px; }

.content_scroll.nested .nested{
	margin: 0 auto;
	background-color: rgba(0,0,0,0.1);
	height: 400px;
}

#content-1.content_scroll.nested{ margin-bottom: 40px; }

#content-1.content_scroll.nested p{ width: 1000px; }

#content-1.content_scroll.nested .nested{
	margin: 20px;
	width: 600px;
	height: 300px;
}

.content_scroll.zero-height{ height: 0; }

.content_scroll.zero-width{ width: 0; }

.init-hidden #examples{ min-height: 420px; }

.full-page .content_scroll{ height: 800px; }

.full-page-alt #mCSB_1_container{
	width: 97% !important; /* override plugin property */
	min-width: 480px;
}

.full-page-alt #mCSB_1_scrollbar_vertical{
	position: fixed;
	margin-right: 30px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.full-page-alt #mCSB_1_scrollbar_horizontal{
	position: fixed;
	margin-bottom: 30px;
	margin-left: 16px;
	margin-right: 16px;
}

.full-page-alt .outer.content_scroll{ width: 960px; }

.full-page-alt .horizontal-images.content_scroll{
	height: 275px;
	width: 100%;
	margin: 20px auto 10px auto;
}

.full-page-alt .horizontal-images.content_scroll img{ height: 200px; }

.content_scroll table{
	width: 100%;
	border-collapse: collapse;
	border-top: 1px dashed #666;
	border-left: 1px dashed #666;
	border-right: 1px dashed #666;
	background: rgba(0,0,0,0.1);
}

.content_scroll table tr{ border-bottom: 1px dashed #666; }

.content_scroll table td{ padding: 10px 20px 9px 20px; }

.sortable{ min-width: 800px; }

#sortable ul{
	margin-top: 20px;
	margin-bottom: 10px;
}

#sortable li{
	margin: 10px 40px;
	background: #444;
	padding: 5px 10px;
	color: #fff;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

#sortable li:active, #sortable .ui-sortable-helper{ background: #eb3755; }

#examples.tabs, #examples.accordion, #examples.autocomplete{	
	padding: 5px 20px 20px 20px;
	background-color: #333;
}

#examples.tabs h3, #examples.accordion h3{
	color: #222;
	font-family: inherit;
	font-style: inherit;
}

#tabs{ margin-bottom: 20px; }

#tabs, #tabs-2, #accordion{ 
	width: 600px; 
	max-width:95%; 
}

#examples.tabs .ui-widget-content{ background-image: none; }

#autocomplete{
	border: none;
	background: #fff;
	min-height: 20px;
	padding: 5px 8px;
	font-size: inherit;
	font-family: inherit;
	color: #222;
	margin-top: 15px;
}

#autocomplete:focus{ outline: none; }

.ui-menu a{
	-webkit-transition: none; 
	-moz-transition: none; 
	-o-transition: none; 
	transition: none;
}

.ui-menu .mCSB_container{ padding: 2px; }

.ui-menu .mCSB_scrollTools{ 
	right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.bootstrap #examples{ background: transparent; }

.bootstrap #myModal-2 .modal-body{
	max-height: 340px;
	-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;
	margin-bottom: -15px;
}

.bootstrap #myTab{ max-width: 600px; }

.bootstrap #myTab .tab-pane{ padding: 15px 5px 15px 15px; }

body.colorbox-demo #cboxContent, body.colorbox-demo #cboxContent p, body.colorbox-demo #cboxContent a:hover{ color: #333; }

.all-themes #examples{ padding: 15px 0 0 15px; }

.all-themes .content_scroll{
	width: 310px;
	height: 500px;
	margin: 0 20px 20px 0;
	float: left;
}

.all-themes .content_scroll h2, .all-themes .content_scroll p, .all-themes .content_scroll hr{ 
	width: 240px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; 
}

.all-themes #content-m h2, .all-themes #content-m p, .all-themes #content-m hr, 
.all-themes #content-md h2, .all-themes #content-md p, .all-themes #content-md hr{ width: 270px; }

.all-themes .content_scroll.expanded-content h2, .all-themes .content_scroll.expanded-content p, .all-themes .content_scroll.expanded-content hr, 
.all-themes #content-m.expanded-content h2, .all-themes #content-m.expanded-content p, .all-themes #content-m.expanded-content hr, 
.all-themes #content-md.expanded-content h2, .all-themes #content-md.expanded-content p, .all-themes #content-md.expanded-content hr{ width: 540px; }

.max-height-example .content_scroll{
	height: auto;
	max-height: 400px;
}

.max-width-example{ min-width: 620px; }

.max-width-example .content_scroll{ 
	height: auto;
	width: auto;
	max-width: 50%;
	min-width: 600px;
	display: inline-block;
	vertical-align: bottom;
}

.max-width-example .content_scroll ul{
	max-height: 135px;
	overflow-y: hidden;
}

.max-width-example .content_scroll img, .max-width-example .content_scroll ul li > a{
	height: 130px;
	border: 3px solid #444;
}

.max-width-example .content_scroll ul li > a{
	display: block;
	padding: 20px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; 
	background: rgba(0,0,0,0.3);
}

.snap-scrolling-example .content_scroll{ 
	height: auto; 
	width: 853px;
}

.snap-scrolling-example .content_scroll img{ height: 160px; }

.textarea-example .content_scroll{ width: 360px; }

.textarea-example .content_scroll form{ margin: 25px 0 15px 0; }

.textarea-example .content_scroll textarea, .textarea-example .textarea-clone{
	width: 300px;
	padding: 0 10px;
	line-height:25px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.textarea-example .content_scroll textarea{
	height:160px; 
	resize:none; 
	overflow:hidden; 
	outline:none;
	margin: 0;
	border:none;
	background:transparent;
	box-shadow: none;
}

.textarea-example .content_scroll .textarea-wrapper{
	height:182px; 
	overflow:hidden;
	background-color: #bbb;
	background-color: rgba(255,255,255,0.6);
	-moz-box-shadow: inset -1px -1px 1px rgba(255,255,255,0.6), inset 3px 3px 20px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset -1px -1px 1px rgba(255,255,255,0.6), inset 3px 3px 20px rgba(0,0,0,0.5);
	box-shadow: inset -1px -1px 1px rgba(255,255,255,0.6), inset 3px 3px 20px rgba(0,0,0,0.5);
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

.textarea-example .textarea-clone{
	position:absolute; 
	top:-9999px; 
	left:-9999px; 
	visibility:hidden; 
	min-height: 160px; 
	word-wrap: break-word;
	white-space: pre-wrap;
}

.textarea-example .content_scroll .textarea-wrapper .mCSB_scrollTools{ margin: 10px 5px; }

.scrollTo-demo .content_scroll{ height: 290px; }

.scrollTo-demo .demo-y{ height: 600px; }

.scrollTo-demo .demo-x{
	width: 660px;
	background-color: #252525;
}

.scrollTo-demo .demo-x p{
	float: left;
	width: 300px;
	margin-left: 30px;
	height: auto;
	padding: 5px 10px;
	background-color: #333;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

.scrollTo-demo .demo-x hr + p{ margin-left: 0; }

.scrollTo-demo .demo-yx{ background-color: #424242; }

.scrollTo-demo .demo-yx p{ width: 1000px; }

.scrollTo{ font-size: 12px; }

.scrollTo + .scrollTo{ margin-top: 20px; }

.scrollTo ul li:first-child span{
	display: block;
	padding: 3px 15px;
}

#test-id{
	background-color: #eb3755;
	color: #fff;
}

.rtl-demo #content-1{ width: 500px; }

.rtl-demo #content-1 p{ width: 1000px; }

.transitions #examples{
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
}

.transitions .content_scroll{
	-webkit-transition: all .6s ease-out; 
	-moz-transition: all .6s ease-out; 
	-o-transition: all .6s ease-out; 
	transition: all .6s ease-out; 
}



@media only screen and (min-width: 1229px){
	.showcase .horizontal-images.content_scroll{ width: 1060px; }
}

@media only screen and (min-width: 1629px){
	.showcase .horizontal-images.content_scroll{ width: 700px; }
}

body {
  font-family: Arial;
  font-size: 10pt;
}

table#demo-table th, 
table#demo-table td {
  white-space: nowrap;
      font-size: 13px;
    text-transform: capitalize;
      padding: 5px 19px;
}


table.bordered th, 
table.bordered td {
  border: 1px solid #ccc;
  border-right: none;
  text-align: center;
}
table.bordered th:last, 
table.bordered td:last {
  border-right: 1px solid #ccc;
}