h3.sub-head{border-bottom: 1px solid #3ccc; background:#f9f9f9; line-height: 14px; margin:0;}
h3.sub-head span{font-size: 13px; font-weight: 600; background: #3ccc; padding: 6px 12px; color: #fff;display: inline-block; width: 160px; text-align: center; }
.portlet-body .form-group.form-md-line-input.form-md-floating-label .form-control~label{font-size: 13px;}
.form-group.form-md-line-input.form-md-floating-label .form-control.edited~label, .form-group.form-md-line-input.form-md-floating-label .form-control.focus:not([readonly])~label, .form-group.form-md-line-input.form-md-floating-label .form-control.form-control-static~label, .form-group.form-md-line-input.form-md-floating-label .form-control:focus:not([readonly])~label, .form-group.form-md-line-input.form-md-floating-label .form-control[readonly]~label{top: 6px;}
.portlet-body .form-group.form-md-line-input{margin: 0 0 14px;padding-top: 15px;}
.add_field_button,.add_phone_field_button,.add_email_field_button, .remove_field,.remove_phone_field,.remove_email_field{font-size: 12px;  padding: 5px;    min-width: 125px;}
.mt-repeater-delete{min-width: 80px !important;}
.client-panel-heading{padding:0;background-color: transparent; border:0;}
.client-panel-heading .panel-body, .custom-panel .panel-footer{padding:5px;}
.custom-panel{border-top:0;}
.custom-panel .panel-body{padding:0;}
.custom-panel hr{margin:0;}
.custom-panel .portlet-body.pad0{padding-top:0;}
.custom-panel .accordion-toggle i{font-size:10px;position: relative; top: 6px; right: 10px;}
.wrapping .phonecountdivs:nth-child(even), .wrapping .emailcountdivs:nth-child(even), .wrapping .countdivs:nth-child(even){background:#f9f9f9;padding: 4px;}
.wrapping .phonecountdivs:nth-child(odd), .wrapping .emailcountdivs:nth-child(odd), .wrapping .countdivs:nth-child(odd){background:#f2f2f2;padding: 4px;}
.label-phone-number{font-size:13px; color: #999 !important; top:5px !important; width: 100%; position: absolute; left: 0; bottom: 0; pointer-events: none;}
.phone_number{font-size:14px !important;}
.required{    color: #e02222 !important;}
.intl-tel-input{width:100%;}
.country-list{z-index: 9 !important;width:308px !important}
.help-block.form-error{color: #e73d4a !important;}