.page-sidebar-closed .closedmenu-logo{display:block !important; position: absolute; width: 54px; height: 49px;}
@media (min-width: 992px){
    .page-footer {
        background-color: #fff !important;
    }
    .page-content-wrapper .page-content{
        padding:0;
    }
}
/* .page-title {
        font-size: 17px;
        background: rgba(204, 204, 204, 0.22);
        padding: 6px 9px;
        margin: 0 0 10px;
} */
.row {
    margin-left: 0;
    margin-right:0;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left: 5px;
    padding-right: 5px;
}
.portlet{
    margin-bottom: 9px;
}
.page-header.navbar .page-logo .logo-default {margin: 18px 0 0 0;}


@media (min-width: 992px){
    .home-alerts .page-sidebar1.alerts-right {
        float: right !important;
        position:relative !important;
        margin-right: 0  !important;
        margin-left: -100%  !important;
        top:0;
        z-index:9;
        padding: 0;
    }
    .home-alerts .page-content-wrapper .page-content {
        margin-right: 290px !important;
    }
    .page-sidebar-closed1.home-alerts .page-content-wrapper .page-content{margin-right: 0 !important;}
    .page-sidebar-closed1 .page-sidebar1 { width: 0px !important; display: block!important; height: auto!important; padding-bottom: 0; overflow: hidden !important;}
}

.page-sidebar1.alerts-right .page-quick-sidebar-wrapper{position:relative;}
.page-sidebar1.alerts-right .page-quick-sidebar-wrapper .page-quick-sidebar .tab-content{/* height:100vh; */}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li > a{padding: 11px 15px 8px;font-size: 13px;}
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li > a > .title, .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li > a > .arrow {display: none !important;}
.sidebar-toggler1{line-height:50px !important; cursor:pointer;}
.date{font-size:11px;}
.page-quick-sidebar-wrapper .page-quick-sidebar .list-items > li{padding: 6px 10px;}
.feeds li .col1>.cont>.cont-col2>.desc{padding-top: 0;    font-size: 12.5px;}

.sidebar-toggler1 i{ transition:transform 0.3s, opacity 0.3s; }
.sidebar-toggler1 i.is-closed{ -webkit-transform: rotateY( -180deg ); -moz-transform: rotateY( -180deg ); -o-transform: rotateY( -180deg ); transform: rotateY( -180deg );}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li:nth-child(1).active > a, .page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li:nth-child(1):hover > a{border-bottom: 3px solid #ed6b75;}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li:nth-child(2).active > a, .page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li:nth-child(2):hover > a{border-bottom: 3px solid #eca506;}
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li:nth-child(3).active > a, .page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li:nth-child(3):hover > a{border-bottom: 3px solid #36c6d3;}
/* .portlet.light>.portlet-title>.actions{display:block; transition:all 0.5s; right:-160px; position:relative;}
.portlet.light>.portlet-title:hover>.actions{display:block;  right:0px; position:relative;} */
.right_block .btn.btn-circle.btn-icon-only.btn-default{    border: 0; background: no-repeat; position: relative;
                                                           top: 3px;}
.portlet.light{padding:10px;}
/*.portlet.light {overflow: hidden; }*/
.portlet.light>.portlet-title{min-height: 35px; margin-bottom: 0;}
.page-bar{margin-bottom:0 !important;}
.page-bar .page-breadcrumb {padding: 6px 6px;}
.portlet.light>.portlet-title>.caption{padding: 4px 0;}
.portlet.light>.portlet-title>.actions { padding: 0px 0 5px; }
.portlet.light>.portlet-title>.caption>.caption-subject{font-size: 13px; text-transform: capitalize !important;}
.page-title{/* font-size: 15px; */ font-weight: 400;}

#parallelogram 
{ 
    width: 90px; 
    height:21px;
    background:#212d41;
    margin-left:5px;
    float:left;
    color:#ffffff;
    text-align:center;
    padding:2px;
    font-size:10px;
}


#parallelogram:hover
{
    background:#17C4BB;
}

.close-icon
{
    font-size:10px;	
}

#parallelogram li
{
    -webkit-transform: skew(25deg); -moz-transform: skew(25deg); -o-transform: skew(25deg);
    list-style:none;
    color:#ffffff;
}
#parallelogram li a
{
    color:#ffffff;
}
.page-sidebar .page-sidebar-menu .sub-menu{margin: 0 !important;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{padding: 3px 6px;font-size: 12px;}
.table-toolbar{margin-bottom: 4px;}

.page-header.navbar .menu-toggler {
    background-image: url(http://10.10.32.52/eventedge2/public/assets/layouts/layout2/img/sidebar_toggler_icon_darkblue.png);position: relative;
    right: -54px;
}

.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .menu-toggler.sidebar-toggler {
    margin-right: 26px;
    margin-top: 14px;
}

.page-header.navbar .page-logo > .logo-image, .page-header.navbar .page-logo > a {padding-top: 3px; text-align: center;}

@media (min-width: 992px){
    .page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo { width: 54px; background: url(http://10.10.32.52/eventedge2/public/assets/layouts/layout2/img/logo-small.png) #16c4bb no-repeat center center;}
}

.padd0{padding:0 !important; margin:6px;}	
.padd-top0{padding-top:0px !important;}	
.page-head { background: rgba(231, 233, 236, 0.62) !important; padding:3px 7px;}

.page-head .page-title {
    display: inline-block;
    float: left;
    padding: 0px 0;
    margin-bottom: 0;
    letter-spacing: 0;
}

.page-head .page-title span {
    color: #5b5c5e !important;
    /* font-size: 13px; */
    text-transform: capitalize !important;
    position: relative;
    top: -2px;
    font-size: 14px;
    font-weight: 600 !important;
    letter-spacing: -0.5px;
}

.page-head .page-toolbar {
    display: inline-block;
    float: right;
}

.page-toolbar ul {
    margin: 0;
    padding-top: 6px;
    float: left;
}
.page-toolbar a.btn.btn-green {
    background: #16c4bb;
    color: #fff;
    padding: 3px 6px;
    position: relative;
    top: 2.3px;
    font-size: 13px;
    margin-left: 10px;
}

.custom-bread {
    background: transparent !important;
    padding: 0;
    color: #a7b2c0;
    font-weight: normal;
    font-size:12px;
}
.page-toolbar ul li a {
    list-style-type: none;
    color: #5b5c5e !important;
    font-size:12px;
}	
.page-head .breadcrumb>li+li:before {
    content: "";
    padding:0;
}
.page-toolbar.form-inline{padding-top:5px; font-size:13px;}
.page-toolbar select, .page-toolbar input{height:22px; padding: 0px 4px;} 

.portlet-body .table-toolbar{padding-top:5px;}
.portlet-body .table-toolbar .btn{padding: 4px 8px; font-size: 12px;}
.portlet-body .table-toolbar .form-control{height: 27px; padding: 2px 12px; font-size: 13px;}
.portlet-body .form-body{padding:5px 5px 0 5px !important;}
.portlet-body .form-body .caption-subject{font-size:12px !important; text-transform:capitalize !important;}

.portlet-body .form-group.form-md-line-input { position: relative; margin: 0 0 10px; padding-top: 20px;}
.portlet-body .form-group.form-md-line-input.form-md-floating-label .form-control~label{font-size: 14px;}
.padd-top0 table thead{background: rgba(0, 0, 0, 0.05) !important;}

.treegrid-expander{position: relative !important; top: 3px !important;}

.portlet-body .table-toolbar .btn.blue:not(.btn-outline) { background-color: #16c4bb; border-color: #16c4bb;}
.font-dark { color: #5b5c5e !important; }
a:hover{text-decoration:none !important;}


.form-group.form-md-line-input span.error{
    position: absolute;
    display: block;
    color:red;
    font-size:11px;
}

.form-group span.error{
    position: absolute;
    display: block;
    color:red;
    font-size:11px;
}

.page-bar {
    float: right;
}


.other_errors {
    color: red;
    display: block;
    font-size: 11px;
    position: absolute;
}

.table.table-condensed.fixedheader {
    top: 68px !important;
}
/*
#style-3::-webkit-scrollbar-track
{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
        width: 6px;
        background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
        background-color: #000000;
}
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
::-moz-scrollbar
{
         width: 0.5em;
    height: 0.5em;
}
*/

.sweet-alert p{
    z-index: 999999 !important;
    position: relative !important;
}

.toggle.btn-xs {
    width: 66px !important;
    height: 21px !important;
}
.treegrid-expander{position: relative !important; top: 3px !important;}
.parent{transition:all 0.3s; overflow:auto;}
.right_block a.btn{text-align:left;transition:all 0.3s;}
.parent .scroller, .right_block .scroller{padding:0;}
.right_block .portlet{margin-bottom:0;}
.right_block .btn{font-size:13px;}
.page-head{margin-bottom:6px;}
.active_tr, .right_block .portlet{background:#edfaff !important;}
.padr0{padding-right:0 !important;}
.padl0{padding-left:0 !important;}
