.login{
	background: url(../img/bg.jpg) no-repeat;
	background-size: cover;
}
.login .logo{text-align:left;}
.login .content{margin:inherit; background:#fff; border-radius: 3px !important; width:auto;
-webkit-box-shadow: 11px 5px 48px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 5px 48px -12px rgba(0,0,0,0.75);
box-shadow: 11px 5px 48px -12px rgba(0,0,0,0.75);
}
.banner_title{
	font-size: 40px;
	font-weight: 600;
	color: #fff;
	min-height: 333px;
	display: flex;
	align-items: center;
}
.login .copyright{    width: 1024px; bottom:10px; border-top:1px solid rgba(255, 255, 255, 0.2); position:absolute;}
.login .content .form-title{text-align: center; font-size: 22px; color:#333; margin-bottom:29px;}
.login .form-group{margin-bottom:20px;}
.login .content .form-control{border: 0; border-bottom: 1px solid #ccc; padding-left:0;}
.login .input-icon>i{right:0; left:auto;}
.login .content .form-actions .btn{margin-top:20px; background:#0d4ea0;  border-radius:20px !important; border:0; padding:6px 20px; width:110px; transition:all 0.5s;	box-shadow: 6px 5px 11px -5px rgba(13,79,160,1) !important;}
.login .content .form-actions .btn:hover{background:#1864c3;box-shadow: 7px 7px 11px -5px rgba(13,79,160,1) !important;}
.login .content .forget-password{text-align: center; font-size: 13px; font-weight: 600;}
canvas {
  display: block;
  vertical-align: bottom;
}

.login .content label, .login .content p{color:#333;}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white !important;
}
/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity:0.8;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}	
@media (min-width: 1200px){
	.container {
		width: 1024px;
	}
}