.tablesorter-header-inner
{
    position:relative;	
}
.sort_arrow
{
    position: relative;
    font-size:9px;
    left: 6px;
    top: -7px;	
}
.sort_arrow i
{
    color:#17C4BB;
}
.sort_arrow .asc i
{
    position:relative;
    top:3px;
}
.sort_arrow a.active, .sort_arrow a.active i
{
    color:#72AFD2;
    background:none;
}
.sort_arrow .desc i
{
    position:relative;
    top:11px;
    left:-12px;
}


.active
{
    /*background-color:#1896D5;*/
/*    color:#F8B938 !important;*/
}

th {
    text-transform: uppercase;
}	
.tree li .branch
{
    width:180px;	
}
.tree li ul li .branch
{
    width:180px;	
}
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none;
    width: 230px !important;
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#b8c7ce;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#222D32;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
    cursor:pointer;
}
.tree li a {
    text-decoration: none;
    color:#f2f2f2;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

.tree li{
    display: block;
    word-wrap: normal;
    white-space: normal;
    word-break: normal;
    width: 100%;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/

.content_scroll textarea{
    min-height: 80px;
    width: 70%;
}

.content_scroll .half img{
    max-width: 48%;
    margin: 0 0 2% 2%;
}

.content_scroll .half img:nth-child(odd){ margin: 0 2% 2% 0; }

#demo.showcase{ min-width: 740px; }

.showcase .content_scroll{
    float: left;
    width: 340px;
    height: 300px;
}

.showcase .horizontal-images.content_scroll{
    height: 140px;
    width: 700px;
    max-width: 97%;
    padding: 5px 5px 0 5px;
}

.showcase .horizontal-images.content_scroll h2, .showcase .horizontal-images.content_scroll li img{ height: 119px; }

.showcase .horizontal-images.content_scroll h2{
    color: #fff;
    background-color: #eb3755;
    padding: 10px 20px;
    margin: 0;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    font-size: 165%;
}

.horizontal-images.content_scroll ul, .vertical-images.content_scroll ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.horizontal-images.content_scroll li{
    margin: 0 3px;
    float: left;
}

.vertical-images.content_scroll li{ margin: 3px 0; }

.horizontal-images.content_scroll li:first-child{ margin-left: 0; }

.vertical-images.content_scroll li:first-child{
    margin-bottom: 3px;
    margin-top: 0;
}

.horizontal-images.content_scroll li:last-child{ margin-right: 0; }

.vertical-images.content_scroll li:last-child{ margin-bottom: 0; }

.horizontal-images.content_scroll li img{
    width: auto;
    padding: 0;
}


.showcase #content-8.content_scroll{
    width: 230px;
    height: 580px;
    padding: 0;
}

.showcase #content-8.content_scroll h2{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.showcase #content-8.content_scroll p{
    width: 710px;
    float: left;
    margin: 15px 20px;
}

.showcase #content-8.content_scroll hr + p{ margin-top: 30px; }

.showcase #content-8.content_scroll p:nth-child(3n+1){
    width: 1460px;
    clear: both;
}


#iframe-container{
    width: 90%;
    max-width: 1110px;
    background: #000;
    overflow: hidden;
}

#iframe-container iframe{ vertical-align: bottom; }

#infinite-scroll .offset{
    display: block;
    width: 100%;
    height: auto;
    color: #ffed0d;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

#infinite-scroll .offset p{
    margin-bottom: 60px;
}

#infinite-scroll .offset .indicator{
    display: block;
    width: 100%;
    height: 100px;
    background: #ffed0d;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

#examples.resizable{ 
    background:#444; 
    padding-bottom: 30px; 
}

#resizable.content_scroll{
    overflow: hidden;
    width: 640px;
    max-width: 80%;
    -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; /* jquery ui resizable bug: http://bugs.jqueryui.com/ticket/8932 */
}

#resizable.content_scroll h2{ color: #444; }

#resizable.content_scroll p{ width: 1000px }

.content_scroll.fluid{
    width: 90%;
    max-width: 1680px;
}

.content_scroll.fluid h2{
    color: #eb3755;
    font-family: "Lobster Two", "Georgia", serif;
    font-weight: 700;
    font-style: italic;
}

.content_scroll.nested{ height: 600px; }

.content_scroll.nested .nested{
    margin: 0 auto;
    background-color: rgba(0,0,0,0.1);
    height: 400px;
}

#content-1.content_scroll.nested{ margin-bottom: 40px; }

#content-1.content_scroll.nested p{ width: 1000px; }

#content-1.content_scroll.nested .nested{
    margin: 20px;
    width: 600px;
    height: 300px;
}

.content_scroll.zero-height{ height: 0; }

.content_scroll.zero-width{ width: 0; }

.init-hidden #examples{ min-height: 420px; }

.full-page .content_scroll{ height: 800px; }

.full-page-alt #mCSB_1_container{
    width: 97% !important; /* override plugin property */
    min-width: 480px;
}

.full-page-alt #mCSB_1_scrollbar_vertical{
    position: fixed;
    margin-right: 30px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.full-page-alt #mCSB_1_scrollbar_horizontal{
    position: fixed;
    margin-bottom: 30px;
    margin-left: 16px;
    margin-right: 16px;
}

.full-page-alt .outer.content_scroll{ width: 960px; }

.full-page-alt .horizontal-images.content_scroll{
    height: 275px;
    width: 100%;
    margin: 20px auto 10px auto;
}

.full-page-alt .horizontal-images.content_scroll img{ height: 200px; }

.content_scroll table{
    width: 100%;
    border-collapse: collapse;
    border-top: 1px dashed #666;
    border-left: 1px dashed #666;
    border-right: 1px dashed #666;
    background: rgba(0,0,0,0.1);
}

.content_scroll table tr{ border-bottom: 1px dashed #666; }

.content_scroll table td{ padding: 10px 20px 9px 20px; }

.sortable{ min-width: 800px; }

#sortable ul{
    margin-top: 20px;
    margin-bottom: 10px;
}

#sortable li{
    margin: 10px 40px;
    background: #444;
    padding: 5px 10px;
    color: #fff;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

#sortable li:active, #sortable .ui-sortable-helper{ background: #eb3755; }

#examples.tabs, #examples.accordion, #examples.autocomplete{	
    padding: 5px 20px 20px 20px;
    background-color: #333;
}

#examples.tabs h3, #examples.accordion h3{
    color: #222;
    font-family: inherit;
    font-style: inherit;
}

#tabs{ margin-bottom: 20px; }

#tabs, #tabs-2, #accordion{ 
    width: 600px; 
    max-width:95%; 
}

#examples.tabs .ui-widget-content{ background-image: none; }

#autocomplete{
    border: none;
    background: #fff;
    min-height: 20px;
    padding: 5px 8px;
    font-size: inherit;
    font-family: inherit;
    color: #222;
    margin-top: 15px;
}

#autocomplete:focus{ outline: none; }

.ui-menu a{
    -webkit-transition: none; 
    -moz-transition: none; 
    -o-transition: none; 
    transition: none;
}

.ui-menu .mCSB_container{ padding: 2px; }

.ui-menu .mCSB_scrollTools{ 
    right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bootstrap #examples{ background: transparent; }

.bootstrap #myModal-2 .modal-body{
    max-height: 340px;
    -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;
    margin-bottom: -15px;
}

.bootstrap #myTab{ max-width: 600px; }

.bootstrap #myTab .tab-pane{ padding: 15px 5px 15px 15px; }

body.colorbox-demo #cboxContent, body.colorbox-demo #cboxContent p, body.colorbox-demo #cboxContent a:hover{ color: #333; }

.all-themes #examples{ padding: 15px 0 0 15px; }

.all-themes .content_scroll{
    width: 310px;
    height: 500px;
    margin: 0 20px 20px 0;
    float: left;
}

.all-themes .content_scroll h2, .all-themes .content_scroll p, .all-themes .content_scroll hr{ 
    width: 240px;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; 
}

.all-themes #content-m h2, .all-themes #content-m p, .all-themes #content-m hr, 
.all-themes #content-md h2, .all-themes #content-md p, .all-themes #content-md hr{ width: 270px; }

.all-themes .content_scroll.expanded-content h2, .all-themes .content_scroll.expanded-content p, .all-themes .content_scroll.expanded-content hr, 
.all-themes #content-m.expanded-content h2, .all-themes #content-m.expanded-content p, .all-themes #content-m.expanded-content hr, 
.all-themes #content-md.expanded-content h2, .all-themes #content-md.expanded-content p, .all-themes #content-md.expanded-content hr{ width: 540px; }

.max-height-example .content_scroll{
    height: auto;
    max-height: 400px;
}

.max-width-example{ min-width: 620px; }

.max-width-example .content_scroll{ 
    height: auto;
    width: auto;
    max-width: 50%;
    min-width: 600px;
    display: inline-block;
    vertical-align: bottom;
}

.max-width-example .content_scroll ul{
    max-height: 135px;
    overflow-y: hidden;
}

.max-width-example .content_scroll img, .max-width-example .content_scroll ul li > a{
    height: 130px;
    border: 3px solid #444;
}

.max-width-example .content_scroll ul li > a{
    display: block;
    padding: 20px;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; 
    background: rgba(0,0,0,0.3);
}

.snap-scrolling-example .content_scroll{ 
    height: auto; 
    width: 853px;
}

.snap-scrolling-example .content_scroll img{ height: 160px; }

.textarea-example .content_scroll{ width: 360px; }

.textarea-example .content_scroll form{ margin: 25px 0 15px 0; }

.textarea-example .content_scroll textarea, .textarea-example .textarea-clone{
    width: 300px;
    padding: 0 10px;
    line-height:25px;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.textarea-example .content_scroll textarea{
    height:160px; 
    resize:none; 
    overflow:hidden; 
    outline:none;
    margin: 0;
    border:none;
    background:transparent;
    box-shadow: none;
}

.textarea-example .content_scroll .textarea-wrapper{
    height:182px; 
    overflow:hidden;
    background-color: #bbb;
    background-color: rgba(255,255,255,0.6);
    -moz-box-shadow: inset -1px -1px 1px rgba(255,255,255,0.6), inset 3px 3px 20px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset -1px -1px 1px rgba(255,255,255,0.6), inset 3px 3px 20px rgba(0,0,0,0.5);
    box-shadow: inset -1px -1px 1px rgba(255,255,255,0.6), inset 3px 3px 20px rgba(0,0,0,0.5);
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

.textarea-example .textarea-clone{
    position:absolute; 
    top:-9999px; 
    left:-9999px; 
    visibility:hidden; 
    min-height: 160px; 
    word-wrap: break-word;
    white-space: pre-wrap;
}

.textarea-example .content_scroll .textarea-wrapper .mCSB_scrollTools{ margin: 10px 5px; }

.scrollTo-demo .content_scroll{ height: 290px; }

.scrollTo-demo .demo-y{ height: 600px; }

.scrollTo-demo .demo-x{
    width: 660px;
    background-color: #252525;
}

.scrollTo-demo .demo-x p{
    float: left;
    width: 300px;
    margin-left: 30px;
    height: auto;
    padding: 5px 10px;
    background-color: #333;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

.scrollTo-demo .demo-x hr + p{ margin-left: 0; }

.scrollTo-demo .demo-yx{ background-color: #424242; }

.scrollTo-demo .demo-yx p{ width: 1000px; }

.scrollTo{ font-size: 12px; }

.scrollTo + .scrollTo{ margin-top: 20px; }

.scrollTo ul li:first-child span{
    display: block;
    padding: 3px 15px;
}

#test-id{
    background-color: #eb3755;
    color: #fff;
}

.rtl-demo #content-1{ width: 500px; }

.rtl-demo #content-1 p{ width: 1000px; }

.transitions #examples{
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
}

.transitions .content_scroll{
    -webkit-transition: all .6s ease-out; 
    -moz-transition: all .6s ease-out; 
    -o-transition: all .6s ease-out; 
    transition: all .6s ease-out; 
}



@media only screen and (min-width: 1229px){
    .showcase .horizontal-images.content_scroll{ width: 1060px; }
}

@media only screen and (min-width: 1629px){
    .showcase .horizontal-images.content_scroll{ width: 700px; }
}

body {
    font-family: Arial;
    font-size: 10pt;
}

table#demo-table th, 
table#demo-table td {
    white-space: nowrap;
    font-size: 13px;
    text-transform: capitalize;
    padding: 5px 19px;
}


table.bordered th, 
table.bordered td {
    border: 1px solid #ccc;
    border-right: none;
    text-align: center;
}
table.bordered th:last, 
table.bordered td:last {
    border-right: 1px solid #ccc;
}


/*-------------------------------------------------------------------------------*/
body.wait, body.wait *{
    cursor: wait !important;   
}
.logo_img{position:relative; top:5px;}
.main-header {    background: #367FA9;}
.sidebar-mini.sidebar-collapse .navbar {
    margin-left: 50px !important;
}
.sidebar-mini.sidebar-collapse .main-sidebar{
    min-width: 50px !important;
}
/* .main-sidebar{min-width:230px !important;} */
/*.loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url( "http://eventedge1.ites.org/assets/img/busy.gif") 50% 50% no-repeat rgb(249,249,249);
}*/
.arrow_click{z-index:999;}
.alerts
{
    border-left: 1px solid #a8a8a8;
    border-radius: 5px;	
}
.sidebar-menu li.active > .treeview-menu {
    display: block;
    position: relative;
}.sidebar-menu li {
    display: block;
    position: relative;
}
ul.treeview-menu:first-child a:nth-child(2){right:0px !important;}
/*ul{padding-left:5px !important;} ul.treeview-menu{padding-left:3px !important;} */
.text-dark-blue{color:#1B99D8;}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a{background:#222d32 !important;}
.treeview{background:#222d32;}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a{border-left-color:transparent !important;}
.sidebar-collapse .all_1{display:none !important;}
.sidebar-menu .treeview-menu {padding:0;}
.skin-blue .sidebar-menu > li > .treeview-menu {margin:0;}
/* a.hover_effects:hover{background:none !Important;} 
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {background:none !Important;} */
@-moz-document url-prefix() { 
    .sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
        white-space: normal !important;
    }
}
table.event_table tr td:first-child{text-align:center !important; font-size:15px;}
table.event_table th{text-align:center; background:#2b3b55 ; font-size:14px;}
table.event_table tr{height:10px;}
table.event_table tr:nth-child(odd){background: beige;}
table.event_table tr:nth-child(even){background: #efefef;}
table.event_table tr td{vertical-align:middle !important; font-size:13px; border-bottom: 1pt solid silver;}
/* .sidebar-collapse .sidebar-menu{min-width:230px;} */
.sidebar-mini.sidebar-collapse .main-sidebar .user-panel>.info, .sidebar-mini.sidebar-collapse .sidebar-form, .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span, .sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu, .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>.pull-right, .sidebar-mini.sidebar-collapse .sidebar-menu li.header{
    min-width:315px !important;
    display:inline-block;
}
/* .sidebar-mini.sidebar-collapse .sidebar-menu li a.arrow_click{
        pointer-events: none;
} */
.treeview-menu .treeview .fa-angle-down{padding-right:7px !important;}
.fa-bell{color:lightgreen;}
.columnFilter{border: none;background-color: red;}		
.fa-filter{color:#ffffff;}
<!-- filter on hover  -->
.chkdropdown {
    display:inline-block;
    position:relative;
    color:black;
}
.chkdropdown, .chkdropdown ul {


    padding:0.1ex 0.5ex 0;
}
.chkdropdown ul {
    position:absolute;
    width:100%;
    list-style-type:none;
    padding:0;
    margin:0;
    left:0;
    height:0;
    overflow:hidden;
    border-color:transparent;
    background-clip:padding-box;
}
.chkdropdown:hover ul {
    height:215px !important;
    border-color:black;
    width:192px;
	overflow-y:scroll;
}
.chkdropdown li:nth-child(n+2) {
    border-top:1px solid silver;
}
.chkdropdown input[type="checkbox"] {
    float:left;
}
.chkdropdown label {
    display:block;
    margin-left: 18px;
    margin-top: 2px;
}
.chkdropdown-right
{
    right:0 !important;
}
/*-------------------------------------------------------------------------------*/
.dropbtn {			
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {		
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 7px 1px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}
.dropdown a:hover {background-color: #f1f1f1}
.show {display:block;}	
.filter-pos
{
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 9;
}
.scroll
{
    overflow:scroll;
}

.btn#btn_eventSearch{padding: 5px 12px 4px 12px;}
/*** custom css only popup ***/
.columnSelectorWrapper {
    position: relative;
    display: inline-block;
    margin-left:0;
    top:1px;
}

.columnSelector, .hidden {
    display: none;
}
.columnSelectorButton {
    background: #17C4BB;
    color: #ffffff;
    border-radius: 5px !important;
    padding: 8px 8px 8px 5px;
}
label
{
    display: inline-block;
    margin-top: 3px;
    margin-bottom:0px;
    margin-left: 8px;
}
#colSelect1:checked + label {
    background: #1eeae0;
    border-color: #555;
}
#colSelect1:checked ~ #columnSelector {
    display: block;
}
.columnSelector {
    width: 120px;
    position: absolute;
    top: 30px;
    padding: 10px;
    background: #fff;
    border: #99bfe6 1px solid;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #888888;
}
.columnSelector label {
    display: block;
}
.columnSelector label:nth-child(1) {
    border-bottom: #99bfe6 solid 1px;
    margin-bottom: 5px;
}
.columnSelector input {
    margin-right: 5px;
}
.columnSelector .disabled {
    color: #ddd;
}

/*** Bootstrap popover ***/
#popover-target label {
    margin: 0 5px;
    display: block;
}
#popover-target input {
    margin-right: 5px;
}
#popover-target .disabled {
    color: #ddd;
}


.columnSelector{z-index: 999;     min-width: 200px; max-width: 300px; max-height:350px; overflow:auto;right:0;}	

.custom_filter{

    background:#fff;
    height: 350px;
    overflow: auto;
    width:200px !important;
    box-shadow: 0px 0px 10px #888888;
}
*, ul.custom_filter:focus{outline: 0;}
.custom_filter li{padding:5px; }
/*-------------------------------------------------------------------------------*/
.dropbtn {
    /*background-color: #4CAF50;
    color: white;*/
    padding: 0px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: Transparent;
    outline:none;
}
.tablesorter {
    text-transform: none;	
}
/*
.dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
}*/	
.dropdown {
    position: relative;
    display: inline-block;
    padding: 0px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: left;
}
.chkbox {
    color: black;
    padding: 5px 5px 5px 10px;
    display: block;			
}
.chkbox:hover {background-color: #f1f1f1}
.show {display:block;}
.table-filter td{
    text-align: left !important;
    position: relative;
    padding: 0 !important;
    height: 0;
    margin: 0;
    border: 0 !important;
}
.table-filter td a{position: relative; 
                   <!-- top: 24px;  -->
                   left: 4px;   
                   z-index: 99999;}

#demo-table_filter{float:right;}
#demo-table_wrapper .col-sm-12{overflow:auto;}
.pagination
{	
    float:right;
}		
.dropdown-menu>li>a {
    /* padding: 2px 14px; */
    color: #6f6f6f;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
}
/*-------------------------------------------------------------------------------*/
.add-on .input-group-btn > .btn {
    border-left-width:0;left:-2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
    box-shadow:none;
    -webkit-box-shadow:none; 
    border-color:#cccccc; 
}
.form-control{width:20%;}
.navbar-nav > li > a {
    border-right: 1px solid #ddd;
    padding-bottom: 15px;
    padding-top: 15px;
}
.navbar-nav:last-child{ border-right:0}
.color-scheme{
    background: #17C4BB;
    color: #ffffff;
}
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
.drop
{
    position:inherit !important;height:auto;
}
.drop ul
{
    margin-left:20px;
}

/*-------------------------------------------------------------------------------*/
.column_sort_button
{
    position:absolute;
    top:2px;
    right:20px;
}
.column_sort_table
{
    z-index: 9999;
    background: #ffffff;
    overflow-y: auto !important;
    box-shadow: 0px 0px 10px #888888;
}
.column_sort_table tr th
{
    text-align: left;
    background: #efefef;
}
.column_sort_body tr td
{
    padding:10px;
    cursor:pointer;
}
.column_sort_table_height
{
    height:400px;overflow-y:auto;
}


/* ------------------------------------------------------------------------------------------------------------------------ */
section {
    position: relative;
    padding-top: 37px;
    width:200px;
}
section.positioned {
    position: absolute;
    top:100px;
    left:100px;
    width:800px;
    box-shadow: 0 0 15px #333;

}
.containers {
    overflow-y: auto;
    height: 400px;
    width:200px;

}
.sticky-table td + td {
    border-left:1px solid #eee;
}
.sticky-table td, th {
    border-bottom:1px solid #eee;
    padding: 10px 25px;
}
.sticky-table th {
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    border: none;
    white-space: nowrap;
}
.sticky-table th div{
    position: absolute;
    background: #17C4BB;
    color: #fff;
    padding: 7px 15px;
    top: 0;
    margin-left: 0px;
    line-height: normal;
    border-left: 1px solid #800;
}
.sticky-table th:first-child div{
    border: none;
}

.btn
{
    padding:3px;
}

.color-cogs
{
    background: #17C4BB;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px 8px 8px 5px;
    margin-top: 3px;
}
.color-cogs:hover
{
    background: #1eeae0;
}


.chkdropdowns {
    display:inline-block;
    position:relative;
    color:black;
}
.chkdropdowns, .chkdropdowns ul {


    padding:0.1ex 0.5ex 0;
}
.chkdropdowns ul {
    position:absolute;
    width:100%;
    list-style-type:none;
    padding:0;
    margin:0;
    right:0;
    height:0;
    overflow:hidden;
    border-color:transparent;
    background-clip:padding-box;
}
.chkdropdowns:hover ul {
    height:auto;
    border-color:black;
    width:192px;
}
.chkdropdowns li:nth-child(n+2) {
    border-top:1px solid silver;
}
.chkdropdowns input[type="checkbox"] {
    float:left;
}
.chkdropdowns label {
    display:block;
    margin-left: 18px;
    margin-top: 2px;
}
@media(min-width:768px){
.home-alerts .page-sidebar1.alerts-right {
    float: right !important;
    position: relative !important;
    margin-right: 0 !important;
    margin-left: -100% !important;
    top: 0;
    z-index: 9;
    padding: 0;
}
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.alert-top {top:50px;width:100%;display:none;text-align: center;margin-bottom: 0;padding:10px;}

.content-tab li
{
	width:25%;
	text-align:center;
}

.content-tab li a
{
	padding:0px !important;
}
@media (min-width: 992px)
{
.page-footer {
    background-color: #eef1f5 !important;
}
}
.btn-icon-only>i {
    text-align: center;
    margin: -1px -4px 0px 0px;
    right: 0;
}
.portlet.light>.portlet-title>.actions .btn-icon-only {
    height: 16px;
    width: 15px;
}